<% layout('./layout') %>
<% include ./menu %>
<script type="text/javascript" src="/assets/user.js"></script>
<div class="container">
    <div class="col-md-4 col-md-offset-4" style="margin-top:50px;">
        <h1 class="h2 text-center">個人資料</h1>
        <br>
        <br>
        <form id="profileform" style="display:none;">
            <div class="form-group">
                <label style="margin-bottom:10px;">Username</label>
                <input type="text" class="form-control" id="username" value="<%= me.username %>" placeholder="username">
            </div>
            <div class="form-group">
                <label style="margin-bottom:10px;">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div id="update" data-id="<%= me.id %>" class="btn btn-primary">更改</div>
            <div id="showprofile" class="btn btn-danger">取消</div>
        </form>
        <div id="profile">
            <div style="margin-top:30px;">
                Username :
                <%= (me.username) %>
                <br>
                <br> 擁有權限&nbsp;&nbsp;:&nbsp;&nbsp;
                <%= (me.inv==1)?"開立發票":" " %>&nbsp;&nbsp;
                <%= (me.ship==1)?"出貨管理":" " %>&nbsp;&nbsp;
                <%= (me.role==2)?"用戶管理":" " %>
            </div>
            <div id="editprofile" class="btn btn-primary" style="width:30%;margin-top:50px;margin-left:35%">修改資料</div>
        </div>
    </div>
</div>
