<% layout('./layout') %>
<script type="text/javascript" src="/assets/user.js"></script>
<% include ./menu %>
<div class="container">
    <div class="col-md-8 col-md-offset-2" style="margin-top:50px;">
        <h1 class="h2 text-center">用戶管理</h1><br><br>
        <table class="table table-hover table-bordered ordertable">
            <thead>
                <tr>
                <th>用戶名稱</th>
                <th>驗證</th>
                <th>權限</th>
                <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i in users){ %>
                <tr id="user<%= users[i].id %>">
                    <td>
                    <%= users[i].username %>
                    </td>
                    <% if(users[i].role == 0){ %>
                    <td>未驗證</td>
                    <% }else{ %>
                    <td>已驗證</td>
                    <% } %>
                    <td>
                    <% if(users[i].ship == 1){ %>
                        出貨管理
                    <% } %>
                    <% if(users[i].inv == 1){ %>
                        開立發票
                    <% } %>
                    </td>
                    <td>
                    <div class="deluser btn btn-danger" data-id="<%= users[i].id %>">刪除</div>
                    <% if(users[i].role == 0){ %>
                        <div class="verifyuser btn btn-success" data-id="<%= users[i].id %>">驗證</div>
                    <% }else{ %>
                        <% if(users[i].inv == 0){ %>
                        <div class="allowjob btn btn-success" data-job="inv" data-id="<%= users[i].id %>">新增開發票權限</div>
                        <% }else{ %>
                        <div class="notallowjob btn btn-danger" data-job="inv" data-id="<%= users[i].id %>">移除開發票權限</div>
                        <% } %>
                        <% if(users[i].ship == 0){ %>
                        <div class="allowjob btn btn-success" data-job="ship" data-id="<%= users[i].id %>">新增出貨權限</div>
                        <% }else{ %>
                        <div class="notallowjob btn btn-danger" data-job="ship" data-id="<%= users[i].id %>">移除出貨權限</div>
                        <% } %>
                    <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-md-offset-4" style="margin-top:50px;margin-bottom:50px;">
        <h1 class="h2 text-center">新增用戶</h1><br><br>
        <form>
            <div class="form-group">
                <label style="margin-bottom:10px;">Username</label>
                <input type="text" class="form-control" id="username" placeholder="username">
            </div>
            <div class="form-group">
                <label style="margin-bottom:10px;">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div id="adduser" class="btn btn-default">新增</div>
        </form>
    </div>
</div>

